/* Define o gradiente de fundo da página */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ff0000);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Garante que não haja barras de rolagem */
}

/* Estiliza o contêiner do formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Estiliza o formulário de login */
.login-form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

/* Estiliza os campos de entrada e o botão de login */
.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 60%;
}

.login-form button:hover {
    background-color: #cc0000;
}

.login-form a {
    color: #ffffff;
    display: flex; /* Usa flexbox para alinhamento dos botões */
    justify-content: space-between; /* Espaço igual entre os botões */
    margin-top: 10px;
    margin-top: 1px;
}

/* Estiliza o formulário de cadastro */
.cadastro-form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Largura máxima ajustada */
    max-height: 80vh; /* Altura máxima ajustada */
    overflow-y: auto; /* Permite rolagem vertical se necessário */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os campos de entrada e o botão */
.cadastro-form input,
.cadastro-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cadastro-form button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    box-sizing: border-box;
}

.cadastro-form button:hover {
    background-color: #cc0000;
}

.cadastro-form fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 0;
}

.cadastro-form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-navigation {
    display: flex; /* Usa flexbox para alinhamento dos botões */
    justify-content: space-between; /* Espaço igual entre os botões */
    margin-top: 20px;
}

.form-navigation button {
    width: 48%; /* Largura dos botões ajustada para caber lado a lado */
}

.prev-btn {
    background-color: #cccccc;
    color: #000000;
}

.prev-btn:hover {
    background-color: #aaaaaa;
}